{{> headerAdmin}}
<section id="view-employee">
    <div class="container">
        <div class="row">
            <h2>Employee</h2>
            <div class="ml-auto">
                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal-create-employee"></i>Create
                    employee</a>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">User name</th>
                        <th scope="col">Full name</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each employees}}
                    <tr>
                        <th scope="row">{{sum @index 1}}</th>
                        <td>{{this.username}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.phone}}</td>
                        <td>{{this.role}}</td>
                        <td><a href="/admin/employee/{{this._id}}/edit">Edit</a></td>
                        <td><a href="" data-toggle="modal" data-id="{{this._id}}"
                                data-target="#modal-delete-employee">Delete</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</section>

{{!-- Modal create employee--}}
<div class="modal fade" id="modal-create-employee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/employee" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username" class="col-form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username">
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-form-label">Full name</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <label for="phone" class="col-form-label">Phone mumber</label>
                        <input type="text" class="form-control" name="phone" id="phone">
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="role" id="exampleRadios1" value="report"
                            checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Report employee
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="role" id="exampleRadios2" value="service">
                        <label class="form-check-label" for="exampleRadios2">
                            Services employee
                        </label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="role" id="exampleRadios3" value="club">
                        <label class="form-check-label" for="exampleRadios3">
                            Club employee
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete employment-->
<div class="modal fade" id="modal-delete-employee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this employee?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary1" data-dismiss="modal">Close</button>
                <button id="btn-employee-delete" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

{{!-- Script for delete aparment --}}
<form method="post" id="delete-employee-form"></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var employeeId;
        var deleteForm = document.forms['delete-employee-form'];
        var btnDeleteEmployee = document.getElementById('btn-employee-delete');
        $('#modal-delete-employee').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            employeeId = button.data('id');
        });

        btnDeleteEmployee.onclick = function () {
            deleteForm.action = '/admin/employee/' + employeeId + '?_method=DELETE';
            deleteForm.submit();
        }
    });
</script>